body {
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #999999;
}

a:hover {
    color:red;
}

/* Coming soon page */
.coming-soon {
    height: 700px;
    width: 60%;
    min-width: 900px;
    margin: 150px 20%;
    background-color: white;
    box-shadow: 5px 5px 20px #cccccc;
    border-radius: 15px;
}

.coming-soon h2 {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 200;
}

.coming-soon h3 {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    padding-top: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 48px;
}

.coming-soon p {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    padding: 0px 20%;
}

.coming-soon .app-container {
    width: 100%;
    margin-left: 10px;
}

.coming-soon .column-app {
    float: left;
    width: 33.33%;
    text-align: center;
}

.coming-soon .column-app-left {
    float: left;
    width: 33.33%;
    text-align: right;
}

.coming-soon .column-app-right {
    float: right;
    width: 33.33%;
    text-align: left;
}


.coming-soon hr {
    border-width: 1px;
    margin: 0px 5%;
}


/* Extras */

.app-icon {
    height: 200px;
    width: 200px;
}

.footer {
    margin-top: 48px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    text-align: center;
    color: #999999;
    font-size: 14px;
}